html {
    font-size: 16px;
}

body {
    margin: 0;
    padding-top: 100px;
}

body * {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

img {
    max-width: 100%;
}

.banner {
    background-image: url(https://images.unsplash.com/photo-1524014444623-194fde519952?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.opacity {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100vh;
}

.text-big-color {
    color: #43A6C3;
    font-size: 60px;
}

.text-big-white {
    color: #FFFFFF;
    font-size: 60px;
}

.title-black {
    color: #000000;
    font-size: 40px;
    text-align: center;
    padding-bottom: 30px;
}

.title-black-2 {
    color: #000000;
    font-size: 30px;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
}

.title-black-medium {
    color: #000000;
    font-size: 20px;
    text-align: center;
    margin-bottom: 5px;
    font-weight: 500;
}

.description-text {
    margin-top: 5px;
    margin-bottom: 0px;
    font-weight: 100;
    text-align: center;
}


/* .title-black-medium-margin {
    color: #000000;
    font-size: 20px;
    text-align: center;
    margin-bottom: 40px;
} */

.title-black-medium-big {
    color: #000000;
    font-size: 24px;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 90px;
}

.text-light {
    font-weight: 100;
    font-size: 15px;
    text-align: center;
    margin: 0;
}