.container-gallery {
    position: relative;
    overflow: auto;
    padding: 10px 20px;
    max-width: 968;
    margin: 0 auto;
}

.section-gallery {
    padding: 40px 50px;
}

.section-gallery .flex-space-between {
    align-items: flex-end;
}

.flex-space-between {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.flex-justify-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container-header {
    display: flex;
    align-items: center;
    height: 100vh;
}

.flex-item-4 {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
    margin-top: 40px;
}

.container-profile {
    padding: 80px 50px;
}