.main-nav {
    overflow: auto;
    padding: 2px 10px;
    background-color: #FFFFFF;
    z-index: 5;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    -webkit-box-shadow: 0px 3px 11px 4px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 3px 11px 4px rgba(0, 0, 0, 0.22);
    box-shadow: 0px 3px 11px 4px rgba(0, 0, 0, 0.22);
}

.navigation {
    list-style-type: none;
    margin: 0 60px;
    padding: 0;
    overflow: hidden;
}

.navigation li {
    display: inline-block;
}

.navigation li a {
    display: block;
    padding: 8px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #000000;
}

.navigation li a:hover {
    color: #43A6C3;
}